

.alma-bg-sum{
  height: 150px;
}

.alma-bg-sum-h{
  height: 150px;
  background-color: #a072fc;
}
.alma-bg-sum-b{
  height: 150px;
  background-color: #5b73fc;
}
.alma-bg-sum-i{
  height: 150px;
  background-color: #35bda8;
}
